@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@700&family=Inter:wght@200&display=swap");

.container-category {
  /* background-color: #009bdb; */
  color: #202020;
  margin-top: 2rem;
  margin-left:24.6rem;
  margin-bottom: 2rem;
  align-items: center;
  max-width: 65%;
}
.container-category-title {
  /* background-color: blueviolet; */
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  
}


.container-category-title a {
  color: #8d8b8b;
  font-size: 14px;
  text-decoration: none;
}
.container-category-title a:hover {
  color: #00bdd6;
}

@media (max-width: 1366px){
  .container-category {
    /* background-color: #009bdb; */
    color: #202020;
    display: flex;
    flex-direction: column;
    padding: 1px 7rem;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
  }
}
